<template>
    <div class="pt-4 col-10 offset-2">
        <h2 class="text-center">Imports</h2>
        <p class="text-right"><a href="/">Upload</a></p>
        <select size="7" v-on:change="getRows"  class="w-100">
            <option v-for="item in imports" :data-id="item.id">{{item.name}} --- {{item.created_at}}</option>
        </select>
        <div class="table-responsive">
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th scope="col" class="col-4">Id</th>
                    <th scope="col" class="col-4">Name</th>
                    <th scope="col" class="col-4">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in rows">
                    <td class="col-4">{{row.id}}</td>
                    <td class="col-4">{{row.name}}</td>
                    <td class="col-4">{{row.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                imports: [],
                rows: []
            }
        },
        created() {
            axios.get('/uploads').then(res => this.imports = res.data)
        },
        methods: {
            getRows: function (event) {
                if(event.target instanceof HTMLSelectElement) {
                    const selectedOpt = event.target.options[event.target.selectedIndex]
                    axios.get('rows?id='+selectedOpt.dataset.id).then(res => this.rows = res.data)
                }
            }
        }
    }
</script>
