<template>
    <div class="mt-5 offset-3 col-6">
        <p class="text-right"><a href="/list">List</a></p>
        <div class="card card-body position-relative">
            <img class="position-absolute" style="right: 20px; width: 20px; height: 20px;"
                 src="/img/excel.png"
                 alt="">
            <p>Upload excel</p>
            <div class="offset-md-0 offset-4 col-4 col-md-12">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" v-on:change="label">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button class="w-100 btn btn-success" v-on:click="upload" >Upload</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['excelPic'],
        mounted() {
            const ch = 'laravel_database_uploading'
            const ev = "UploadProgressEvent"
            console.log(ch, ev)
            Echo.join('new')
            Echo.channel(ch)
                .listen(ev, ({progress}) => {
                    console.log(progress)
                })
        },
        methods: {
            upload: function (event) {
                this.disabled = true
                const fd = new FormData()
                const input = document.getElementById('customFile')
                if(input.files.length) {
                    fd.append('file', input.files[0])
                    axios.post('/upload', fd, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(() => {
                        alert('Таблица импортируется')
                        document.querySelector('[for="customFile"]').textContent = 'Choose file'
                        this.disabled = false
                    })
                }
            },
            check: () => axios.get('/send'),
            label: event => {

                document.querySelector('[for="customFile"]').textContent = event.target.files[0].name
            }
        }
    };
</script>
